Packing point for Edwards curves


Edwards curves shall follow the RFC8032 encoding rather than the BIP62 low S to comply better with standards.

For instance implementing a RFC9591 will not succeed with zkkit when point packing is required.

- RFC8032 stipulates that sign of point is chosen by looking at the parity of x, 
- zkkit uses an encoding adopted for weierstrass curves, where points are sorted looking at x>p/2 or not

Suggestion: replace publickey packing by RFC8032, section 6:

def point_compress(P):
    zinv = modp_inv(P[2])
    x = P[0] * zinv % p
    y = P[1] * zinv % p
    return int.to_bytes(y | ((x & 1) << 255), 32, "little")

(and decompress accordingly)

Hey @artwyman! Any thoughts on this?

I don't have any particularly strong/useful thoughts here since I haven't been involved with usage of these protocols outside Zupass + POD/GPC, and don't have time to dig deep at the moment.  A few initial thoughts:

1. The right definition of what it means to "better comply with standards" should be made by someone who understands the landscape of standards and what existing and future use cases might expect or benefit from.  (That's not me.  I'm not expressing any opinion on the other folks on this thread.)
2. Zupass and the POD/GPC libraries aren't going to be making any breaking changes forseeable future, which means they're not going to be changing their packing protocol.  But they only really need to be compatible with their own ecosystem.
3. Related to point 2, and from a general library-maintenance point of view, my general suggestion would be to add new options rather than breaking existing options.  If you think the new option is better, then that can be encouraged in documentation, but I'd recommend not changing the kind of packing used by any existing functions without a good reason, to avoid surprising people.

1. concerning the compliance to standard, please cite one that is using parity coding of an elliptic point as a comparizon to n/2, be it:

- ecrecover: use parity (encoded as 27 or 28, which was intially parity_bit+chainID, but this info was lost in the limbos)
- asn1, der format (as used by TLS and all web2 implementation)
- RFC9591, RFC8032, libsecp256k1
- FIPS196
etc.

In the opposite, do you know any one standard using comparizon to n/2 ? It seems a transposition of BIP62 for non malleability, which was not meant to encode parity but avoid (r,s) and (r,-s) to collide for ecdsa.




Concerning the use, we are currently building on top of it for a privacy wallet.

Any implementation targeting compliance to a standard will face this issue and loose time, cause it is tricky to identify the source of error as it fails with probability 1/2 and requires execution trace investigation.

Any crypto implementor will assume classic parity representation by default.